<?= $this->doctype() ?>

<html lang="en">
<head>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div>

        <ul>

            <li class="yes">Home</li>
            <li class="yes">About</li>
        </ul>

    </div>
</nav>
<div class="container">
    <?= $this->content ?>
    <hr>
    <footer>
        <p>&copy; 2005 - <?= date('Y') ?> by Zend Technologies Ltd. All rights reserved.</p>
    </footer>
</div>
</body>
</html>
